# Include the following at the bottom of your `.bashrc` file:
# if [ -n "$GUIX_ENVIRONMENT" ]
# then
#     if [ -n ".envrc" ] ; then
# 	. .envrc ;
#     fi
# fi

# Alternatively you can manually load this file into the newly created shell:
# `$ guix shell -m manifest.scm`
# `[guix] $ . .envrc`

export FPM_FFLAGS=-I${GUIX_ENVIRONMENT:-$HOME/.local}/include/prima/mod

if [ -n ".envfiles/parallel.rc" ] ; then
    source .envfiles/parallel.rc
fi

function fpmrunparallel () {
    if [[ "$#" -lt 1 ]] ; then
        return 1
    fi
    program=$1
    shift
    fpm run $program --compiler caf --profile release \
        --runner="nice -n 19 cafrun -np ${PAR_NP:-4}" \
        -- $*
    return 0
}


function fpmrun () {
    if [[ "$#" -lt 1 ]] ; then
        return 1
    fi
    program=$1
    shift
    fpm run $program --profile release -- $*
}

export -f fpmrun
export -f fpmrunparallel
